@import url("https://fonts.googleapis.com/css?family=Raleway:300");

body {
    text-align: center;
    background-color: #2e3141;
    color: #f5f5f5;
    font-family: Raleway, Helvetica, sans-serif;
}

.main {
    max-width: 640px;
    margin: auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.status {
    padding: 32px;
    margin: 16px;
    order: 1;
    flex-grow: 1;
    justify-content: space-between;
}

.down {
    background-color: red;
    order: -1;

}
.up {
    background-color: green;
    order: 0;
}